@use "sass:math";

$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;

$container-lg: 1306px;
$container-md: 920px;
$container-sm: 640px;

$p: 15px;

$fluid-start: $breakpoint-lg + $p + $p;
$fluid-end: $container-lg + $p + $p;
$fluid-screen: 1920px;

@function round($number, $decimals: 0) {
  $n: 1;

  @if $decimals > 0 {
    @for $i from 1 through $decimals {
      $n: $n * 10;
    }
  }

  @return math.div(math.round($number * $n), $n);
}

@function px-to-rem($px) {
  $rems: math.div($px, 16px) * 1rem;
  @return $rems;
}

@function fluid-factory(
  $min-size,
  $max-size,
  $min-breakpoint,
  $max-breakpoint,
  $unit: vw
) {
  $slope: math.div($max-size - $min-size, $max-breakpoint - $min-breakpoint);
  $slope-to-unit: round($slope * 100, 3);
  $intercept-rem: round(px-to-rem($min-size - $slope * $min-breakpoint), 3);
  $min-size-rem: round(px-to-rem($min-size), 3);
  $max-size-rem: round(px-to-rem($max-size), 3);

  @return clamp(
    #{$min-size-rem},
    #{$slope-to-unit}#{$unit} + #{$intercept-rem},
    #{$max-size-rem}
  );
}

@function fluid($min-size, $max-size) {
  @return fluid-factory($min-size, $max-size, $fluid-start, $fluid-end, vw);
}

@function fluid-screen($min-size, $max-size) {
  @return fluid-factory($min-size, $max-size, $fluid-start, $fluid-screen, vw);
}

@mixin section {
  --container-width: #{$container-lg};

  display: grid;
  grid-template-columns:
    [full-start left-start] minmax($p, 1fr) [right-start center-start] minmax(
      0,
      var(--container-width)
    )
    [left-end center-end] minmax($p, 1fr) [full-end right-end];

  grid-template-rows: [full-start left-start center-start right-start] auto [full-end left-end center-end right-end];

  @media (max-width: $breakpoint-lg) {
    --container-width: #{$container-md};
  }

  @media (max-width: $breakpoint-md) {
    --container-width: #{$container-sm};
  }

  @media (max-width: $breakpoint-sm) {
    --container-width: 100%;
  }
}


@mixin desktop {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: $breakpoint-lg) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $breakpoint-md) {
    @content;
  }
}

@mixin phone {
  @media (max-width: $breakpoint-sm) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    @content;
  }
}

@mixin no-hover {
  @media (hover: none) {
    @content;
  }
}

$transition: 0.38s ease-in-out;