---

---

<div class="mainGraf">
    <canvas id="speedChart" width="550" height="350"></canvas>
</div>

<style is:global lang="scss">
    @include desktop {
        .mainGraf {
            width: 450px;
            height: 250px;
        }
    }

    @include laptop {
        .mainGraf {
            width: 480px;
            height: 300px;
        }
    }

    @include tablet {
        .mainGraf {
            width: 480px;
            height: 300px;
        }
    }

    @include phone {
        .mainGraf {
            width: 240px;
            height: 160px;
        }
    }
</style>
